<form [formGroup]="editTaskForm" (ngSubmit)="onEditTask(editTaskForm.value)">
  <h2 mat-dialog-title>Edit Task</h2>
  <mat-dialog-content class="mat-typography">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Task Name"
            formControlName="taskName"
            [ngModel]="data.name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Enter Task Duration"
            formControlName="taskDuration"
            [ngModel]="data.taskDuration"
          />
        </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </mat-dialog-actions>
</form>