<div class="container">
    <div class="col-md-12 task-planner-intro">
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>Task Planner</h1>
                <p>This is an end to end task management application from creation of task to completion of task. Using
                    this
                    application, a user can create, edit, delete, move to different status and can complete the task.
                </p>
                <p>This application is built using Angular, NodeJS/ExpressJS, GraphQl, Apollo, Express-GraphQl,
                    MomentJS,
                    Bootstrap, AmCharts and Angular material.</p>
            </div>
        </main>

        <div class="example-button-row">
            <button mat-raised-button color="primary" class="ml-5" (click)="onViewTask()">View Task</button>
            <button mat-raised-button color="primary" class="ml-5" (click)="onAddTask()">Add Task</button>
        </div>
    </div>
</div>