.open {
  background-color: #e8e8e8;
}

.pending {
  background-color: #ffa07a;
}

.completed {
  background-color: #006400;
}

.overdue {
  background-color: #8b0000;
}

.in-progress {
  background-color: #daf7a6;
}
