<div class="container text-center">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Task ID</th>
        <th scope="col">Task Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        <th scope="col">Time Remaining</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let task of taskList"
        [ngClass]="{
          completed: task.currentStatus === 'completed',
          overdue: task.currentStatus === 'overdue',
          open: task.currentStatus === 'open',
          pending: task.currentStatus === 'pending',
          'in-progress': task.currentStatus === 'inProgress'
        }"
      >
        <th scope="row">{{ task?.id }}</th>
        <td>{{ task?.name }}</td>
        <td>{{ task?.currentStatus }}</td>
        <td class="example-button-row">
          <button class="action-button-padding" mat-raised-button color="primary" type="submit" (click)="onStart(task)">Start</button>
          <button mat-raised-button color="primary" type="submit" (click)="onPause()">Pause</button>
          <button mat-raised-button color="primary" type="submit" (click)="onCompleted(task)">Completed</button>
          <button mat-raised-button color="primary" type="submit" (click)="onEdit(task)">Edit</button>
          <button mat-raised-button color="primary" type="submit" (click)="onDelete(task)">Delete</button>
        </td>
        <td>{{ task.taskDuration }}</td>
      </tr>
    </tbody>
  </table>
</div>

